[user]
	name = Darwin Groskleg
	email = darwingroskleg@gmail.com
[color]
	ui = true
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[core]
	excludesfile = /Users/darwingroskleg/.gitignore_global
  # editor = subl -n -w
  editor = vim
[push]
	default = simple
# [commit]
#   template = ~/.gitmessage

